EXPO_PUBLIC_APP_NAME="image-generation-app"
EXPO_PUBLIC_API_HOST=http://localhost:4001
EXPO_PUBLIC_API_BASE_URI=/api
EXPO_PUBLIC_API_BASE_URL=http://localhost:4001/api
EXPO_PUBLIC_AUTH_TOKEN_EXPIRED_AT=3600
PORT=4002